<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yessirski Help Desk</title>
    <link rel="icon" type="image/x-icon" href="https://funko.com/dw/image/v2/BGTS_PRD/on/demandware.static/-/Sites-funko-master-catalog/default/dw86aa17b5/images/funko/upload/73412_PLUSH_McDonalds_Grimace_GLAM-FRONT-WEB.png?sw=800&sh=800">
    <link href="/yessirskihelpdesk/static/styles.css" rel="stylesheet">

</head>

<body>
    <h1>Yessirski Help Desk</h1>
    <form action="/your-server-endpoint" method="get">
        <div>
            <label for="callerName">Search Caller Name:</label>
            <input class="search-container" type="text" id="callerName" name="callerName">
        </div>

        <div>
            <label for="specialistName">Search Specialist Name:</label>
            <input class="searcb-input" type="text" id="specialistName" name="specialistName">
        </div>

        <div>
            <input class="search-button" type="submit" value="Search">
        </div>
    </form>
</body>

</html>